.DS_Store
/client/dist
/logs
/client.zip
/client/mail.dat
/client/user/downloads
!/client/user/downloads/README.txt
/client/user/temp
!/client/user/temp/README.txt
/client/user/home
/client/user/system/missions/*.ini
!/client/user/home/README.txt
!/client/user/home/music/README.txt
/client/user/darksigns/mission_scripts/remoteapp
/server/LICENSE
