.DS_Store
/client/dist
/logs
/client.zip
/client/mail.dat
/client/user/downloads
!/client/user/downloads/README.txt
/client/user/temp
!/client/user/temp/README.txt
/client/user/home
/client/user/system/missions/*.ini
!/client/user/home/README.txt
!/client/user/home/music/README.txt
/server/LICENSE
/client/user/darksigns/DS_scr
/client/user/darksigns/DS_scr_todo
/client/user/darksigns/DS_srv

