{
	servers {
		listener_wrappers {
			proxy_protocol {
				timeout 5s
				allow 10.1.0.0/23
				allow 10.2.0.0/23
				allow 10.3.0.0/23
				allow 10.4.0.0/23
				allow 10.5.0.0/23
				allow 10.6.0.0/23
				allow 10.7.0.0/23
				allow 10.8.0.0/23
				allow 10.9.0.0/23
			}
			tls
		}
	}

	order reverse_proxy before handle
}

http:// {
	# Dummy block as per https://caddyserver.com/docs/caddyfile/options#name
}

(site) {
	root * /var/www
	php_fastcgi unix//run/php-fpm.sock
	file_server

	handle /wiki/* {
		try_files {path} {path}/ /wiki/index.php
	}

	handle {
		try_files {path} {path}/ =404
	}
}

(anubis) {
	reverse_proxy {args[0]} unix//run/anubis/anubis.sock {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}
}

{$DOMAIN} {
	import anubis /create_account.php
	import anubis /forgot_password.php
	import anubis /.within.website/*

	import site
}

{$DOMAIN} {
	import site

	bind unix//run/caddy/internal.sock
}
